:root{
    --PrimaryColor : #3a4190;
    --seconderyColor : #2a3289;
    --iconColor: #ffffff;
    --borderColor: #0f1231;
    --buttonColor: #ffffff;
    --grayText : rgb(190, 190, 190);
    --bodyColor: #ffffff;
    --fontColor: #ffffff;
  
  }