:root{
    --PrimaryColor : #3a4190;
    --seconderyColor : #2a3289;
    --iconColor: #ffffff;
    --borderColor: #0f1231;
    --buttonColor: #ffffff;
    --grayText : rgb(190, 190, 190);
    --bodyColor: #ffffff;
    --fontColor: #ffffff;
  
  }

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // overflow: hidden; 
   .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--seconderyColor);
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
  }
   
    .img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
    overflow: hidden;
    }

    .Item{
        z-index: 100;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: var(--fontColor);  

        h2{
            font-size: 20px;
            text-transform: uppercase;

        }
        p{
            text-align: center;
            font-size: 12px;
            text-transform: capitalize;

        }
        .btn{
            margin-top: 15px;

            button{
                background: var(--fontColor);
                color: var(--seconderyColor);
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 800;
                padding: 10px 15px;
                border-radius: 50px;
                cursor: pointer;
                border: 1px solid var(--seconderyColor);

                &:hover{
                    background-color: rgb(50, 25, 141);
                    color: var(--fontColor);
                }
                
            }
        }
      
    }
}



// mainfooter section

.mainFooter{
    background-color: var(--seconderyColor);
    .footerAllItems{
        width: 90%;
        align-items: center;
        margin: auto;
        padding: 30px 5px;
        
        border-bottom: 1px solid var(--fontColor);
        
        .left{
           .title{
            .logo{
                width: 80px;
                height: 60px;
                margin-bottom: 20px;
            }
           } 
           .leftItems{
            font-size: 12px;
            color: var(--fontColor);
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
            span{
                display: flex;
                gap: 10px;
               
            }
            .location{
                text-transform: capitalize;
            }
            // .mail{}
            // .phone{}
            .icon{
                font-size: 20px;
            }
           }
        }

        .center{
            color: var(--fontColor);
            .col1{
               .title{
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 800;
                margin-bottom: 20px;
                
               }
                .centerItem{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 20px;
                    span{
                        text-transform: capitalize;
                        font-size: 12px;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
           
           
        }
        .right{
            color: var(--fontColor);
            .title{
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 800;
                margin-bottom: 20px;
            }
            .rightItem{
                display: flex;
                flex-direction: column;
                gap: 10px;
                p{
                    text-transform: capitalize;
                    font-size: 12px;
                }
                .input{
                    width: fit-content;
                    height: 36px;
                    background-color: var(--fontColor);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 20px;
                    margin-top: 15px;
                    input{
                        width: 100%;
                        background: transparent;
                        padding-left: 20px;
                    }
                }
                button{
                    background-color: var(--seconderyColor);
                    margin-right: 1px;
                    border-radius: 20px;
                    padding: 9px 20px;
                    font-size: 12px;
                    text-transform: uppercase;
                    background-color: var(--seconderyColor);
                    color: var(--fontColor);
                }
            }
           
        }
    }

    .allRight{
        width: 90%;
        text-align: center;
        padding: 20px 0px;
        display: flex;
        margin: auto;
        
        .item{
            font-size: 15px;
            color: var(--fontColor);
            display: flex;
            margin: auto;
        }
    }
    
}





@media screen and (min-width: 769px){
    .mainFooter{
        .footerAllItems{
            display: grid;
            grid-template-columns: auto auto;
            // .left{
            //    align-items: flex-start;
            // }
            .center{
                display: grid;
                grid-template-columns: auto auto;
                .col1{
        
                    .centerItem{
                        margin-bottom: 20px;
                        span{
                            text-transform: capitalize;
                            font-size: 12px;
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                } 
            }



            .right{
                margin-top: 30px;
                .title{
                    
                    margin-bottom: 20px;
                }
                .rightItem{
                    button{
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                }
               
            }
        }
    
       
    }
}

@media screen and (min-width: 960px){
    .mainFooter{
        .footerAllItems{
           display: flex;
           align-items: flex-start;
            .left{
                flex: 1;
            }
            .center{
               display: flex;
               flex: 1;
               width: 100%;
               justify-content: space-around;
               padding: 0px 20px;
                .col1{
                    .centerItem{
                        margin-bottom: 20px;
                        span{
                            text-transform: capitalize;
                            font-size: 12px;
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                } 
            }



            .right{
                margin-top: 0px !important;
                display: flex;
                flex: 1;
                flex-direction: column;
                .title{
                    margin-bottom: 20px;
                }
                .rightItem{
                    button{
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                }
               
            }
        }
    
       
    }
}
