@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Nunito';

}

/* :root{
  --PrimaryColor : #3a4190;
  --seconderyColor : #2a3289;
  --iconColor: #ffffff;
  --borderColor: #0f1231;
  --textColor: #ffffff;
  --button-color: #ffffff;
  --grayText : rgb(190, 190, 190);

} */
/* 
   --blackColor : hsl(201, 33%, 16%);
   --textColor: hsl(240, 4%, 36%);
   --inputColor : rgb(239, 239, 239);
   --bodyColor : rgb(240, 240, 246);
   --cardBG: rgb(225, 225,225); */

/* } */

/* this style for carousel button */
.slick-prev::before,
.slick-next::before {
  display: none !important;
}

/* the slides */
.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;
}


/* .carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  background: #4d0e0e;
  box-shadow: 1px 2px 10px -1px rgba(250, 5, 5, 0.3);
} */

